h1{
    font-size: 80px;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: -5px;
    margin-bottom: 2px;
}
img{
    height: 500px;
    width: auto;
    margin: 10px;
}
*{
    background-color:antiquewhite
}
h3{
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
}
p{
    padding: 10px;
    width: 950px;
    font-size: 18px;
}
